{% extends 'base.html.twig' %}
{% block title %}Écoride - Mes voitures
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between oxanium mt-5 p-lg-5">
		<div>
			<h1>Mes voitures :</h1>
		</div>
		<div>
			<form action="{{path(name:'app_car_add')}}" method="post">
				<button type="submit" class="btn btn-success">Ajouter une nouvelle voiture</button>
			</form>
		</div>
	</div>
	<div class="d-flex flex-wrap justify-content-center gap-2">
		{% for car in cars %}
			{% include 'partials/car/card.car.html.twig' %}
		{% endfor %}
	</div>
{% endblock %}
