{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - Modérateur
{% endblock %}

{% block body %}
	<div class="ecoride-container p-5 m-3">
		<h4 class="viga-regular text-center mb-5">
			Tableau de bord - Modération</h4>
		<div class="d-flex gap-3">
			<a href="{{ path('app_reviews_list') }}" type="button" class="btn btn-secondary btn-lg w-100 position-relative">
				{% if reviewAmount > 0 %}
					<span class="badge bg-danger position-absolute" style="top: -0.5rem;right: -0.5rem">
						{{ reviewAmount }}
					</span>
				{% endif %}

				Gestion des avis</a>
			<a type="button" class="btn btn-secondary btn-lg w-100 position-relative">
				{% if lowGradeAmount > 0 %}
					<span class="badge bg-danger position-absolute" style="top: -0.5rem;right: -0.5rem">
						{{ lowGradeAmount }}
					</span>
				{% endif %}
				Gestion des litiges</a>

		</div>
	</div>
{% endblock %}
