<h1>Activation de votre compte Écoride !</h1>
<hr>
<p>Bonjour
	{{user.username}},
</p>
<p>Vous avez demandé une réinitialisation de votre mot de passe. Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous :
</p>
<p>
	<a href="{{absolute_url(path('app_reset_password',{token: token}))}}">Réinitialiser votre mot de passe</a>
</p>
<hr>
<p>Si jamais vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.</p>

<p>Merci !</p>
<p>Cordialement, l'équipe Écoride</p>
