{% extends 'base.html.twig' %}

{% block title %}Test
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Zone de test</h1>
		<br><hr><br>
		<div class="d-flex">
			<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirmModal" data-url={{ path('home') }} data-body="Êtes-vous sûr de vouloir retourner à la page d'accueil ?">
				Home
			</button>
			<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirmModal" data-url={{ path('app_contact') }} data-title="Confirmer la navigation" data-body="Êtes-vous sûr de vouloir aller à la page de contact ?">
				Contact
			</button>

		</div>
	</div>
{% endblock %}
