{% extends 'base.html.twig' %}

{% block title %}Écoride - Mes voitures
{% endblock %}

{% block body %}
	<h1>Mes voitures :
	</h1>
	<a class="btn btn-success" href="{{path(name:'app_car_add')}}">Ajouter une nouvelle voiture</a>
{% endblock %}
